spring:
  profiles:
    active: dev
  application:
    name: cms
  datasource:
    oracle:
      databasePlatform: org.hibernate.dialect.OracleDialect
      driverClassName: oracle.jdbc.OracleDriver
      url: jdbc:oracle:thin:@sj_high?TNS_ADMIN=D:/κ°μΈνμΌ/Wallet_sj
      username: ADMIN
      password: Chosejong86!
      hikari:
        connection-test-query: SELECT sysdate FROM dual
  jpa:
#    database-platform:  org.hibernate.dialect.OracleDialect
    hibernate:
      default_batch_fetch_size: 1000
      ddl-auto: none #create update none
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    properties:
      hibernate:
        show-sql: true
        format_sql: true
    defer-datasource-initialization: true
  mvc:
    servlet:
      load-on-startup: 1

jwt:
  token:
    issuer: toon_service
    clientSecret: Rel3Bjce2MajBo09qgkNgYaTuzvJe8iwnBFhsDS5
    expirySeconds: 7200000
    header: Authorization
    bearer: Bearer

  secret: c2lsdmVybmluZS10ZWNoLXNwcmluZy1ib290LWp3dC10dXRvcmlhbC1zZWNyZXQtc2lsdmVybmluZS10ZWNoLXNwcmluZy1ib290LWp3dC10dXRvcmlhbC1zZWNyZXQK
  token-validity-in-seconds: 86400

springdoc:
  version: '0.0.1'
  api-docs:
    path: /api-docs
  default-consumes-media-type: application/json
  default-produces-media-type: application/json
  swagger-ui:
    operations-sorter: alpha
    tags-sorter: alpha
    path: /swagger-ui.html
    disable-swagger-default-url: true
    display-query-params-without-oauth2: true
    doc-expansion: none
  paths-to-match:
    - /api/**

server:
  port: 8080
  tomcat:
    max-http-form-post-size: 10MB
  servlet:
    encoding:
      force-response: true
      charset: UTF-8
      enabled: true
      force: true
      force-request: true
